body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("img/background/background/sketch1999-desert-5385998 (1).png");
    background-position: center;
    background-size: cover;
    font-family: "zabras", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

/* GAME AREA */
.game-area {
    position: relative;
    width: 100%;
    max-width: 720px;
}

canvas {
    display: block;
    width: 100%;
    max-width: 720px;
    aspect-ratio: 3 / 2;
    background-color: black;
}

/* START */
#start_game {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

#start_game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PLAY OVERLAY */
#playOverlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTROLS */
.controls-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
}

.left-panel,
.center-panel,
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.arrow-group {
    display: flex;
    gap: 10px;
}

.control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEXT */
.control-label {
    font-size: 24px;
    font-weight: bold;
}

.control-label-wide {
    font-size: 22px;
}

/* BUTTONS */
.control-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d98c2b;
    border: 2px solid black;
    font-size: 30px;
    cursor: pointer;
}

/* WIN SCREEN */
.end-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.6);
}

.end-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.end-buttons {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.hidden {
    display: none;
}

#playOverlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* FONT */
@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}